body {
    background-color: #f5f5f5;
}

body > .grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 600px;
}

.last.container {
    margin-bottom: 300px !important;
}
h1.ui.center.header {
    margin-top: 3em;
}
h2.ui.center.header {
    margin: 4em 0em 2em;
}
h3.ui.center.header {
    margin-top: 2em;
    padding: 2em 0em;
}